data/xsd/parliament_opendata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="Absenses">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PlenarySittings"/>
        <xs:element ref="CommitteeMeetings"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FriendshipGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="FriendshipGroup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="MP"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParliamentCommitteeSittings">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ParliamentCommittee"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParliamentCommittees">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ParliamentCommittee"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParliamentConsultants">
    <xs:complexType>
      <xs:choice>
        <xs:element maxOccurs="unbounded" ref="PGroup"/>
        <xs:element maxOccurs="unbounded" ref="PCommittee"/>
        <xs:element maxOccurs="unbounded" ref="MP"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="PGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FullName"/>
        <xs:element ref="DataUrl"/>
        <xs:element ref="Consultants"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCommittee">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FullName"/>
        <xs:element ref="Consultants"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParliamentDelegations">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ParliamentDelegation"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParliamentGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ParliamentGroup"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PleanaryControls">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="PleanaryControl"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PleanarySittings">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="PleanarySitting"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlenaryVoteList">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="PlenaryVotes"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublicProcurements">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="PublicProcurement"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SittingPrograms">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="SittingProgram"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParliamentCommitteeSitting">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="DiscussionPoints"/>
        <xs:element ref="ParliamentCommittee"/>
        <xs:element ref="Reports"/>
        <xs:element ref="Transcript"/>
        <xs:element ref="AttendingMPs"/>
        <xs:element ref="DateTime"/>
        <xs:element ref="Location"/>
        <xs:element ref="ParliamentCommitteeSittingUrl"/>
      </xs:choice>
      <xs:attribute name="attendingMPs" type="xs:integer"/>
      <xs:attribute name="dateTime"/>
      <xs:attribute name="discussionPoints" type="xs:integer"/>
      <xs:attribute name="id" use="required" type="xs:integer"/>
      <xs:attribute name="reports" type="xs:integer"/>
      <xs:attribute name="transcript" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="AttendingMPs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="MP"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DateTime" type="xs:string"/>
  <xs:element name="Location" type="xs:string"/>
  <xs:element name="ParliamentCommitteeSittingUrl" type="xs:anyURI"/>
  <xs:element name="ParliamentCommittee">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PCommName"/>
        <xs:element ref="ParliamentCommitteeUrl"/>
        <xs:element minOccurs="0" ref="Sittings"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="ProfileUrl"/>
          <xs:element ref="SittingsUrl"/>
          <xs:element ref="Contact"/>
          <xs:element ref="Members"/>
        </xs:sequence>
        <xs:element minOccurs="0" ref="Consultants"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="Documents"/>
          <xs:element ref="Bills"/>
          <xs:element ref="Updates"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attribute name="active" type="xs:integer"/>
      <xs:attribute name="id" use="required" type="xs:integer"/>
      <xs:attribute name="lastUpdate"/>
      <xs:attribute name="type"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PCommName" type="xs:string"/>
  <xs:element name="ParliamentCommitteeUrl" type="xs:anyURI"/>
  <xs:element name="Sittings">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ParliamentCommitteeSitting"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SittingsUrl" type="xs:anyURI"/>
  <xs:element name="Contact">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Email"/>
        <xs:element ref="Address"/>
        <xs:element ref="Telephone"/>
        <xs:element ref="ContactPerson"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Email" type="xs:string"/>
  <xs:element name="Address" type="xs:string"/>
  <xs:element name="Telephone" type="xs:string"/>
  <xs:element name="ContactPerson" type="xs:string"/>
  <xs:element name="Documents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Document"/>
      </xs:sequence>
      <xs:attribute name="count" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Bills">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Bill"/>
      </xs:sequence>
      <xs:attribute name="count" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="MP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Profile"/>
        <xs:element minOccurs="0" ref="FullName"/>
        <xs:element minOccurs="0" ref="ProfileUrl"/>
        <xs:element minOccurs="0" ref="DataUrl"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="Consultants"/>
          <xs:element ref="Absense"/>
        </xs:choice>
        <xs:choice minOccurs="0">
          <xs:element ref="Role"/>
          <xs:sequence>
            <xs:element ref="ParliamentaryActivity"/>
            <xs:element ref="Bills"/>
            <xs:element ref="Speeches"/>
            <xs:element ref="ParliamentaryControl"/>
          </xs:sequence>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="acting" type="xs:integer"/>
      <xs:attribute name="id" use="required" type="xs:integer"/>
      <xs:attribute name="otherProfiles"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Profile">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Names"/>
        <xs:element ref="DateOfBirth"/>
        <xs:element ref="PlaceOfBirth"/>
        <xs:element ref="Profession"/>
        <xs:element ref="Language"/>
        <xs:element ref="ScienceDegree"/>
        <xs:element ref="MaritalStatus"/>
        <xs:element ref="PoliticalForce"/>
        <xs:element ref="Constituency"/>
        <xs:element ref="MemberOfPreviosNA"/>
        <xs:element ref="E-mail"/>
        <xs:element ref="Website"/>
        <xs:element ref="ProfileUrl"/>
        <xs:element ref="OriginalDataUrl"/>
        <xs:element ref="DataUrl"/>
        <xs:element ref="Photo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Names">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="FirstName"/>
        <xs:element ref="SirName"/>
        <xs:element ref="FamilyName"/>
        <xs:element ref="FullName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FirstName" type="xs:NCName"/>
  <xs:element name="SirName" type="xs:NCName"/>
  <xs:element name="FamilyName" type="xs:NCName"/>
  <xs:element name="DateOfBirth" type="xs:string"/>
  <xs:element name="PlaceOfBirth" type="xs:string"/>
  <xs:element name="MaritalStatus" type="xs:NCName"/>
  <xs:element name="PoliticalForce" type="xs:string"/>
  <xs:element name="Constituency" type="xs:string"/>
  <xs:element name="MemberOfPreviosNA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="PreviosNA"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreviosNA">
    <xs:complexType mixed="true">
      <xs:attribute name="order" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="E-mail" type="xs:string"/>
  <xs:element name="Website" type="xs:string"/>
  <xs:element name="Photo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Photo_big"/>
        <xs:element ref="Photo_thumb"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Photo_big" type="xs:anyURI"/>
  <xs:element name="Photo_thumb" type="xs:anyURI"/>
  <xs:element name="Absense">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PlenarySittings"/>
        <xs:element ref="CommitteeMeetings"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParliamentaryActivity">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="ParliamentaryStructure"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParliamentaryStructure">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ParliamentaryStructureName"/>
        <xs:element ref="ParliamentaryStructureType"/>
        <xs:element ref="ParliamentaryStructurePosition"/>
        <xs:element ref="ParliamentaryStructurePeriod"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParliamentaryStructureName" type="xs:string"/>
  <xs:element name="ParliamentaryStructureType" type="xs:string"/>
  <xs:element name="ParliamentaryStructurePosition" type="xs:string"/>
  <xs:element name="ParliamentaryStructurePeriod">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="From"/>
        <xs:element ref="To"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="From" type="xs:string"/>
  <xs:element name="Speeches">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Speech"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Speech">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Topic"/>
        <xs:element ref="Type"/>
        <xs:element ref="Date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Type" type="xs:string"/>
  <xs:element name="ParliamentaryControl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Question"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Question">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="About"/>
        <xs:element ref="To"/>
        <xs:element ref="Date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="About" type="xs:string"/>
  <xs:element name="PleanarySitting">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="OriginalDataUrl"/>
        <xs:element ref="PlenaryControl"/>
        <xs:element ref="SittingProgram"/>
        <xs:element ref="Title"/>
        <xs:element ref="Transcript"/>
        <xs:element ref="PleanarySittingUrl"/>
        <xs:element ref="Video"/>
        <xs:element ref="VoteDocuments"/>
      </xs:choice>
      <xs:attribute name="date"/>
      <xs:attribute name="id" use="required" type="xs:integer"/>
      <xs:attribute name="plenaryControlId" type="xs:integer"/>
      <xs:attribute name="sittingProgramId" type="xs:integer"/>
      <xs:attribute name="time"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PleanarySittingUrl" type="xs:anyURI"/>
  <xs:element name="Video" type="xs:anyURI"/>
  <xs:element name="VoteDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Document"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FullName" type="xs:string"/>
  <xs:element name="DataUrl" type="xs:string"/>
  <xs:element name="Consultants">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="Consultant"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Consultant">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
        <xs:element ref="Education"/>
        <xs:element ref="Field"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Education" type="xs:string"/>
  <xs:element name="Field" type="xs:string"/>
  <xs:element name="PleanaryControl">
    <xs:complexType>
      <xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="PleanaryControlUrl"/>
          <xs:element ref="OriginalDataUrl"/>
        </xs:sequence>
        <xs:element minOccurs="0" ref="SittingProgram"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="PleanarySitting"/>
          <xs:element ref="Title"/>
          <xs:element ref="Questions"/>
        </xs:sequence>
      </xs:sequence>
      <xs:attribute name="date" use="required"/>
      <xs:attribute name="id" use="required" type="xs:integer"/>
      <xs:attribute name="pleanarySittingId" type="xs:integer"/>
      <xs:attribute name="sittingProgramId" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PleanaryControlUrl" type="xs:anyURI"/>
  <xs:element name="Questions" type="xs:string"/>
  <xs:element name="ParliamentDelegation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PDelegationName"/>
        <xs:element ref="ParliamentDelegationUrl"/>
        <xs:element ref="ProfileUrl"/>
        <xs:element ref="Members"/>
        <xs:element ref="Updates"/>
      </xs:sequence>
      <xs:attribute name="active" type="xs:integer"/>
      <xs:attribute name="id" use="required" type="xs:integer"/>
      <xs:attribute name="lastUpdate" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PDelegationName" type="xs:string"/>
  <xs:element name="ParliamentDelegationUrl" type="xs:anyURI"/>
  <xs:element name="PlenarySittings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitteeMeetings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Date"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SittingProgram">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="DiscussionPoints"/>
        <xs:element ref="OriginalDataUrl"/>
        <xs:element ref="PleanarySitting"/>
        <xs:element ref="PlenaryControl"/>
        <xs:element ref="Title"/>
        <xs:element ref="SittingProgramUrl"/>
      </xs:choice>
      <xs:attribute name="date"/>
      <xs:attribute name="id" use="required" type="xs:integer"/>
      <xs:attribute name="pleanarySittingId" type="xs:integer"/>
      <xs:attribute name="plenaryControlId" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="SittingProgramUrl" type="xs:anyURI"/>
  <xs:element name="PlenaryVotes">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="GroupVotesOriginalUrl"/>
        <xs:element ref="IndividualVotesOriginalUrl"/>
        <xs:element ref="MPVotes"/>
        <xs:element ref="OriginalUrl"/>
        <xs:element ref="VotingPoints"/>
      </xs:choice>
      <xs:attribute name="allMPs" type="xs:integer"/>
      <xs:attribute name="date" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="presentMPs" type="xs:integer"/>
      <xs:attribute name="time" use="required"/>
      <xs:attribute name="votingPoints" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="GroupVotesOriginalUrl" type="xs:anyURI"/>
  <xs:element name="IndividualVotesOriginalUrl" type="xs:anyURI"/>
  <xs:element name="MPVotes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="MPVote"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MPVote">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
        <xs:element ref="Votes"/>
      </xs:sequence>
      <xs:attribute name="id" use="required"/>
      <xs:attribute name="pgroup" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Votes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Vote"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Vote">
    <xs:complexType>
      <xs:attribute name="point" use="required" type="xs:integer"/>
      <xs:attribute name="present" type="xs:integer"/>
      <xs:attribute name="registration" type="xs:integer"/>
      <xs:attribute name="voted"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="OriginalUrl" type="xs:anyURI"/>
  <xs:element name="VotingPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="VotingPoint"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VotingPoint">
    <xs:complexType mixed="true">
      <xs:attribute name="date" use="required" type="xs:NMTOKEN"/>
      <xs:attribute name="point" use="required" type="xs:integer"/>
      <xs:attribute name="time" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublicProcurement">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Title"/>
        <xs:element ref="PublishDate"/>
        <xs:element ref="Procedure"/>
        <xs:element minOccurs="0" ref="StateGazetteIssue"/>
        <xs:element ref="ProcurementRegistryNumber"/>
        <xs:element ref="Description"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PublishDate" type="xs:string"/>
  <xs:element name="Procedure" type="xs:string"/>
  <xs:element name="StateGazetteIssue" type="xs:string"/>
  <xs:element name="ProcurementRegistryNumber" type="xs:string"/>
  <xs:element name="Description" type="xs:string"/>
  <xs:element name="FriendshipGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PFriendshipGroupName"/>
        <xs:element ref="FriendshipGroupUrl"/>
        <xs:element ref="ProfileUrl"/>
        <xs:element ref="Members"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PFriendshipGroupName" type="xs:string"/>
  <xs:element name="FriendshipGroupUrl" type="xs:anyURI"/>
  <xs:element name="ParliamentGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="PGroupName"/>
        <xs:element ref="ParliamentGroupUrl"/>
        <xs:element ref="ProfileUrl"/>
        <xs:element ref="Members"/>
        <xs:element minOccurs="0" ref="Consultants"/>
        <xs:element ref="Bills"/>
        <xs:element ref="Updates"/>
      </xs:sequence>
      <xs:attribute name="active" type="xs:integer"/>
      <xs:attribute name="id" use="required" type="xs:integer"/>
      <xs:attribute name="lastUpdate" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PGroupName" type="xs:string"/>
  <xs:element name="ParliamentGroupUrl" type="xs:anyURI"/>
  <xs:element name="Bill">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Name"/>
        <xs:element minOccurs="0" ref="BillName"/>
        <xs:element minOccurs="0" ref="BillUrl"/>
        <xs:element minOccurs="0" ref="BillUnion"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="Signature"/>
          <xs:element ref="Date"/>
        </xs:sequence>
        <xs:sequence minOccurs="0">
          <xs:element ref="Session"/>
          <xs:element ref="BillFiles"/>
          <xs:element ref="Importers"/>
        </xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Committee"/>
        <xs:sequence minOccurs="0">
          <xs:element ref="Reports"/>
          <xs:element ref="LawName"/>
          <xs:element ref="LawBody"/>
          <xs:element ref="SGIss"/>
          <xs:element ref="SGYear"/>
          <xs:element ref="OriginalDataUrl"/>
        </xs:sequence>
        <xs:choice minOccurs="0">
          <xs:element ref="DataUrl"/>
          <xs:element ref="ProfileURL"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="BillName" type="xs:string"/>
  <xs:element name="BillUrl" type="xs:anyURI"/>
  <xs:element name="BillUnion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="BillUnionName"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BillUnionName" type="xs:string"/>
  <xs:element name="Signature" type="xs:string"/>
  <xs:element name="Session" type="xs:string"/>
  <xs:element name="BillFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="FilePath"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FilePath" type="xs:anyURI"/>
  <xs:element name="Importers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Importer"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Importer">
    <xs:complexType mixed="true">
      <xs:attribute name="order" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Committee">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
        <xs:element ref="Role"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LawName" type="xs:string"/>
  <xs:element name="LawBody" type="xs:string"/>
  <xs:element name="SGIss" type="xs:string"/>
  <xs:element name="SGYear" type="xs:string"/>
  <xs:element name="ProfileURL" type="xs:anyURI"/>
  <xs:element name="Reports">
    <xs:complexType>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Report"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element ref="Author"/>
          <xs:element ref="Path"/>
        </xs:choice>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="Report">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" ref="Title"/>
        <xs:element ref="ReportUrl"/>
      </xs:sequence>
      <xs:attribute name="id" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportUrl" type="xs:anyURI"/>
  <xs:element name="Author" type="xs:string"/>
  <xs:element name="Path" type="xs:anyURI"/>
  <xs:element name="Transcript" type="xs:string"/>
  <xs:element name="DiscussionPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="DiscussionPoint"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DiscussionPoint">
    <xs:complexType mixed="true">
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="Bills"/>
        <xs:element ref="Topic"/>
      </xs:choice>
      <xs:attribute name="order" use="required" type="xs:integer"/>
      <xs:attribute name="recommendedBy"/>
      <xs:attribute name="recommendedByGroup" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProfileUrl" type="xs:anyURI"/>
  <xs:element name="Members">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="MP"/>
      </xs:sequence>
      <xs:attribute name="count" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Document">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Name"/>
        <xs:choice>
          <xs:element ref="DataUrl"/>
          <xs:element maxOccurs="unbounded" ref="File"/>
        </xs:choice>
      </xs:sequence>
      <xs:attribute name="uploaded"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="File">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:anyURI">
          <xs:attribute name="type" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Updates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Update"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="ParliamentDelegationUpdateUrl"/>
        <xs:element ref="ParliamentGroupUpdateUrl"/>
      </xs:choice>
      <xs:attribute name="date" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParliamentDelegationUpdateUrl" type="xs:anyURI"/>
  <xs:element name="ParliamentGroupUpdateUrl" type="xs:anyURI"/>
  <xs:element name="Profession">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Profession"/>
      </xs:sequence>
      <xs:attribute name="order" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Language">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="Language"/>
      </xs:sequence>
      <xs:attribute name="order" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScienceDegree">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ScienceDegree"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="OriginalDataUrl" type="xs:anyURI"/>
  <xs:element name="Role">
    <xs:complexType mixed="true">
      <xs:attribute name="from"/>
      <xs:attribute name="to"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="To" type="xs:string"/>
  <xs:element name="Topic" type="xs:string"/>
  <xs:element name="Date">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="MP"/>
      </xs:sequence>
      <xs:attribute name="timestamp"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlenaryControl">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:anyURI">
          <xs:attribute name="id" use="required" type="xs:integer"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="Title" type="xs:string"/>
  <xs:element name="Name" type="xs:string"/>
</xs:schema>
